/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}
/** end reset css**/
body {
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	color: black;
}

li a:hover {
	color: #B1663C;
}
.container {
	max-width: 1140px;
	margin: auto;
}

header.container {
	margin-top: 50px;
	margin-bottom: 50px;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* *********Filtre********* */

.filter {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}

.filter-button {
	margin: 0 1rem 0 1rem;
	padding: 7px 25px;
	background-color: #FFFEF8;
	color: #1D6154;
	font: inherit;
	font-weight: bold;
	font-size: 1.1rem;
	border: #1D6154 solid 2px;
	border-radius: 37px;
	cursor: pointer;
}

.active-filter {
	background-color: #1D6154;
	color: #FFFEF8;
}

.gallery {
	margin-top: 2rem;
}

/* *********Login form********* */

.user-login-form {
	font-size: 14px;
	font-weight: bold;
}
.user-login-form form {
	display:flex;
	flex-direction: column;
	text-align: left;
}

.user-login-form {
	width: 50%;
	margin: auto;
	padding: 5rem;
}

.user-login-form h2 {
	display: flex;
	justify-content: center;
}

.user-login-form input {
	border: none;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	height: 51px;
}

.user-login-form label {
	margin: 3rem 0 10px 0;
}

.user-login-form a {
	color: #3d3d3d;
	margin: auto;
}

/* *********Edition mode********* */

#div-edition {
	background-color: black;
	color: white;
	height: 59px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-weight: 500;
	max-width: 100%;
	margin-bottom: 2rem;
}

#div-edition i {
	padding: 0 10px;
}

#titleProjects {
	display:flex;
	justify-content: center;
	gap: 20px;
}

#titleProjects h2 {
	margin: 0;
}

#titleProjects button {
	border: none;
	background-color: #FFFEF8;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: 500;
	font-family: 'Work Sans';
}

#titleProjects button:hover {
	color: #B1663C;
}

/* *********Modal********* */

/* Gallery */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content, 
.modal-add-project-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 30px;
    width: 630px;
	border-radius: 10px;
	position: relative;
}

.modal-content h2,
.modal-add-project-content h2{
	padding-top: 50px;
	display: flex;
	justify-content: center;
	font: inherit;
	color: black;
	font-size: 1.5rem;
}

.close {
    color: #aaa;
    float: right;
    font-size: 22px;
    font-weight: bold;
	position: absolute;
	top: 10px;
	right: 10px;
}

.back {
	color: #aaa;
    float: left;
    font-size: 22px;
    font-weight: bold;
	position: absolute;
	top: 10px;
	left: 10px;
}

.close:hover,
.back:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.projectsContainer {
	display: flex;
	flex-direction: row;
}

.modal .project {
	position: relative;
}

.modal .project img {
    width: 80px;
    height: auto;
    position: relative;
}

.delete-icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 5px;
}

.delete-icon i {
    color: white;
	background-color: black;
    font-size: 10px;
	padding: 5px;
	border-radius: 3px;
}

#modalProjectsContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 40px 80px 30px 80px;
	gap: 30px 10px;
	border-bottom: solid 2px #B3B3B3;
	padding-bottom: 50px;
}

.modal .projects {
	width: calc(20% - 20px);
    margin-bottom: 20px; 
}

.add-button-modal-container {
	display: flex;
	justify-content: center;
}

#add-project-button-modal {
	background-color: #1D6154;
	border-radius: 20px;
	padding: 10px 50px 10px 50px;
	margin-bottom: 20px;
	color: white;
	border: none;
	display: flex;
	justify-content: center;
	font-family: 'Syne';
	cursor: pointer;
}

.add-project-button-modal:hover {
	background-color: #B1663C;
}

/* Ajout de projet */

.modal-new-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E8F1F7;
	padding: 20px 0 20px 0;
	border-radius: 5px;
	margin: 35px 100px 0 100px;
}

.modal-new-image #new-image {
	background-color: #CBD6DC;
	border: none;
	border-radius: 50px;
	font-family: 'Work Sans';
	font-size: 1em;
	font-weight: bold;
	color: #306685;
	padding: 15px 40px;
	cursor: pointer;
}

.modal-new-image i {
	font-size: 60px;
	color: #B9C5CC;
	padding-bottom: 15px;
}

.modal-new-image #form-image {
	margin-top: -40px;
	padding: 8px 0;
	border: none;
	border-radius: 50px;
	opacity: 0;
	cursor: pointer;
}

.modal-new-image p {
	margin-top: 15px;
}

.modal-new-category {
	display: flex;
	flex-direction: column;
	padding: 20px 100px 0 100px;
}

.modal-new-category input[type="text"], select {
	height: 50px;
	border: none;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
}

.modal-new-category label {
	padding: 20px 0 10px 0;
	font-size: 1rem;
}

.modal-new-category #form-title, #form-category {
	font-family: 'Work Sans';
	font-size: 1em;
}

.modal-new-category .border-bottom {
	width: 100%;
	border-bottom: solid 1px #B3B3B3;
	margin-top: 40px;
}

.modal-new-category #submit-new-work {
	background-color: #A7A7A7;
	border: none;
	padding: 10px 0 10px 0;
	width: 200px;
	font-size: 1rem;
	cursor: pointer;
}